* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  @media screen and (max-width: 500px) {
  
    p {
      margin: 5px;    
    }
  
    .tweetContainer {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      display: flex;
      flex-direction: column; 
      font-size: 10px;
    }
  
    .tweet {
      grid-template-rows: auto;
      border: 1px solid lightgray;
      border-radius: 10px;
      padding: 10px;
      margin: 5px;
      text-align: center;    
      font-size: 10px;
    }
  
    form {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      border: 1px solid lightgray;
      border-radius: 10px;
      padding: 10px;
      margin: 5px;
      text-align: center;
    }
    
    h3 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      margin: 5px;
      color: blue;
    }
  
    #boldName{
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      font-size: 10px;
    }
  
    #tagnameLight{
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      font-size: 10px;      
    }
  
    #tweetSpace{
      grid-column: 1 / 2;
      grid-row: 4 / 5;
      font-size: 10px;
    }
  
    input {
      padding: 10px;
      font-size: 10px;
      border: 1px solid lightgray;
      border-radius: 8px;
      margin: 5px
    }

    button {
      padding: 5px;
      border-radius: 5px;
      font-size: 16px;  
      border-radius: 3px;
      font-size: 10px; 
      width: 65px;
      height: 25px;
      border-radius: 3px;
      margin-left: 105px;
      background-color: blue;
      color: white; 
    }

    .deleteButton {
      background-color: darkorchid;
      color: whitesmoke;
      border-radius: 3px;
      margin-left: 0px;
      font-size: 10px; 
      width: 50px;
      height:23px;
    }
  
    .editButton {    
      width: 50px;
      height: 23px;
      margin-left: 15px;
      margin-top: 5px;    
      border-radius: 3px;
      font-size: 10px;   
      background-color: blue;
      color: white; 
    }
  }
  
  
  @media screen and (min-width: 501px) {
  
    body {
      background-image: url("background.png");
      background-size: contain;    
    }
  
    h3 {
      color: blue;
      margin: 5px;
    }
  
    p {
      margin: 5px;    
    }
  
    .tweetContainer {
      display: flex;
      flex-direction: column;
      margin: 0 25px;
    }
  
    .tweet {
      border: 1px solid lightgrey;
      border-radius: 10px;
      padding: 30px;
      margin-left: 225px;
      margin-right: 225px;
      text-align: left;
    }

    #boldName {
      font-weight: bold;
      font-size: 13px;
      padding-left: 5px;
    }

    #tagnameLight {
      font-weight: lighter;
      font-size: 13px;
    }

    #tweetSpace {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    #tweetText {
      text-align: left;
    }
  
    form {
      border: 1px solid lightgrey;
      border-radius: 10px;
      padding: 10px;
      margin: 5px;
      text-align: center;
    }

    input {
      padding: 10px;
      font-size: 16px;
      border: 1px solid lightgray;
      border-radius: 8px;
      margin: 5px
    }
  
    button {
      padding: 5px;
      border-radius: 5px;
      font-size: 16px;   
      background-color: blue;
      color: white; 
    }  
  
    .deleteButton {
      width: 55px;
      height: 25px;
      margin-left: 125px;
      margin-top: 5px;    
      border-radius: 5px;
      font-size: 12px;   
      background-color: darkorchid;
      color: white; 
    }

    .editButton {    
      width: 55px;
      height: 25px;
      margin-left: 15px;
      margin-top: 5px; 
      border-radius: 5px;
      font-size: 12px;   
      background-color: blue;
      color: white; 
    }
    
    #closeButton {
      margin-left: 165px;
    }
  }
