* {
  background-color: lightblue;
}

.align {
  margin-top: 35px;
  text-align: center;
}

.alignList {
  margin-left: 385px;
  margin-top: 35px;
}

#input {
  background-color: white;
}

#button {
  background-color: lightgray;
}







